@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Titan+One&display=swap');

.font1 {
    font-family: 'Alkatra', cursive;
}
.font2{
    font-family: 'Titan One', cursive;
}


.paddingleft{
    padding-left: 10rem;
}

.hovering{
	transition: all 0.5s ease-in-out;
}
.hovering:hover {
	background-color: #3d3d3d;
	color: white;
	scale: 1.05;
	box-shadow: none 10px;
}